@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --color-background: #ffffff;
  --color-foreground: #1f2933;
  --color-primary: #fd366e;
  --color-primary-foreground: #ffffff;
  --color-muted: #f4f5f7;
  --color-muted-foreground: #616e7c;
}

:root {
  --background: #ffffff;
  --foreground: #1f2933;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
